.button {
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button--light {
  background-color: var(--color-white);
  color: var(--color-dark);

  &:hover,
  &:focus {
    background-color: var(--color-gray-light);
  }
}

.button--dark {
  background-color: var(--color-dark);
  color: var(--color-white);

  &:hover,
  &:focus {
    background-color: var(--color-gray);
  }
}
