<div class="container">
  <div class="header">
    <button class="header__menu" type="button" aria-label="Open menu">
      <svg class="header__menu-icon">
        <use href="../assets/icons/sprite.svg#menu"></use>
      </svg>
    </button>

    <a href="/" class="header__logo" aria-label="Home page">
      <svg class="header__logo-icon">
        <use href="../assets/icons/sprite.svg#logo"></use>
      </svg>
    </a>

    <nav class="header__nav" aria-label="Main navigation">
      <ul class="header__list">
        <li class="header__item">
          <a href="#" class="header__link">New & Featured</a>
        </li>
        <li class="header__item"><a href="#" class="header__link">Men</a></li>
        <li class="header__item">
          <a href="#" class="header__link">Women</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__link">Kids</a>
        </li>
      </ul>
    </nav>

    <a href="#cart" class="header__cart" aria-label="Shopping cart">
      <svg class="header__cart-icon">
        <use href="../assets/icons/sprite.svg#cart"></use>
      </svg>
    </a>
  </div>
</div>
