<section class="hero">
  <div class="hero__slider swiper-container">
    <div class="hero__wrapper swiper-wrapper">
      <div class="hero__slide hero__slide--1 swiper-slide"></div>
      <div class="hero__slide hero__slide--2 swiper-slide"></div>
      <div class="hero__slide hero__slide--3 swiper-slide"></div>
    </div>
    <div class="hero__pagination swiper-pagination"></div>
  </div>

  <div class="hero__content container">
    <div class="hero__inner">
      <h1 class="hero__title">
        More than just shoes — it's a part of your story.
      </h1>
      <p class="hero__subtitle">
        Original sneakers from Nike and other top brands that make every step
        feel special.
      </p>
      <button type="button" class="hero__button button button--light">
        Shop the Collection
      </button>
    </div>
  </div>
</section>
