<section class="featured">
  <div class="featured__container container">
    <h2 class="featured__title">Featured Collection</h2>
  </div>
  <div class="featured__wrapper">
    <div class="featured__swiper swiper">
      <ul class="featured__list swiper-wrapper">
        <li class="featured__item swiper-slide">
          <div class="featured__card">
            <a href="#" class="featured__link">
              <img
                class="featured__image"
                src="/images/sections/section-02/featured-01.webp"
                srcset="
                  /images/sections/section-02/featured-01.webp    1x,
                  /images/sections/section-02/featured-01@2x.webp 2x
                "
                alt="Nike Streakfly 2"
              />
            </a>
            <p class="featured__name">Nike Streakfly 2</p>
            <span class="featured__price">$300.00</span>
          </div>
        </li>
        <li class="featured__item swiper-slide">
          <div class="featured__card">
            <a href="#" class="featured__link">
              <img
                class="featured__image"
                src="/images/sections/section-02/featured-02.webp"
                srcset="
                  /images/sections/section-02/featured-02.webp    1x,
                  /images/sections/section-02/featured-02@2x.webp 2x
                "
                alt="Nike Pegasus Premium"
              />
            </a>
            <p class="featured__name">Nike Pegasus Premium</p>
            <span class="featured__price">$350.00</span>
          </div>
        </li>
        <li class="featured__item swiper-slide">
          <div class="featured__card">
            <a href="#" class="featured__link">
              <img
                class="featured__image"
                src="/images/sections/section-02/featured-03.webp"
                srcset="
                  /images/sections/section-02/featured-03.webp    1x,
                  /images/sections/section-02/featured-03@2x.webp 2x
                "
                alt="Nike Pegasus 41"
              />
            </a>
            <p class="featured__name">Nike Pegasus 41</p>
            <span class="featured__price">$280.00</span>
          </div>
        </li>
        <li class="featured__item swiper-slide">
          <div class="featured__card">
            <a href="#" class="featured__link">
              <img
                class="featured__image"
                src="/images/sections/section-02/featured-04.webp"
                srcset="
                  /images/sections/section-02/featured-04.webp    1x,
                  /images/sections/section-02/featured-04@2x.webp 2x
                "
                alt="Nike Revolution 7"
              />
            </a>
            <p class="featured__name">Nike Revolution 7</p>
            <span class="featured__price">$440.00</span>
          </div>
        </li>
        <li class="featured__item swiper-slide">
          <div class="featured__card">
            <a href="#" class="featured__link">
              <img
                class="featured__image"
                src="/images/sections/section-02/featured-05.webp"
                srcset="
                  /images/sections/section-02/featured-05.webp    1x,
                  /images/sections/section-02/featured-05@2x.webp 2x
                "
                alt="Nike Air Max Plus"
              />
            </a>
            <p class="featured__name">Nike Air Max Plus</p>
            <span class="featured__price">$280.00</span>
          </div>
        </li>
      </ul>
    </div>
    <button
      class="featured__button featured__button--prev"
      type="button"
      aria-label="Previous slide"
    >
      <svg class="featured__icon">
        <use href="/icons/sprite.svg#arrow-left"></use>
      </svg>
    </button>
    <button
      class="featured__button featured__button--next"
      type="button"
      aria-label="Next slide"
    >
      <svg class="featured__icon">
        <use href="/icons/sprite.svg#arrow-right"></use>
      </svg>
    </button>
  </div>
</section>
