<section class="questions">
  <div class="questions__container container">
    <h2 class="questions__title">Frequently asked questions</h2>
    <p class="questions__subtitle">
      Answers to our most frequently asked questions are just one click away.
    </p>
    <ul class="questions__list">
      <li class="questions__item">
        <details class="questions__details">
          <summary class="questions__summary">
            <h3 class="questions__headline">
              What are Nike's delivery options?
            </h3>
            <svg class="questions__icon">
              <use class="questions__use" href="/icons/sprite.svg#plus"></use>
            </svg>
          </summary>
          <p class="questions__text">
            Nike’s delivery options? Standard, express, or “Just Ship It.” Your
            shoes might arrive faster than your motivation to use them. Unless
            you're ordering from the future—then they'll time-travel straight to
            your regret pile next to the dumbbells.
          </p>
        </details>
      </li>
      <li class="questions__item">
        <details class="questions__details">
          <summary class="questions__summary">
            <h3 class="questions__headline">What is Nike's returns policy?</h3>
            <svg class="questions__icon">
              <use class="questions__use" href="/icons/sprite.svg#plus"></use>
            </svg>
          </summary>
          <p class="questions__text">
            When you shop Nike online, either in the Nike App or on Nike.com,
            you can return items that are unworn and unwashed and still have
            their product tags attached within 30 days of purchase (some
            exceptions apply). That includes custom Nike By You sneakers.
          </p>
        </details>
      </li>
      <li class="questions__item">
        <details class="questions__details">
          <summary class="questions__summary">
            <h3 class="questions__headline">Where is my Nike order?</h3>
            <svg class="questions__icon">
              <use class="questions__use" href="/icons/sprite.svg#plus"></use>
            </svg>
          </summary>
          <p class="questions__text">
            Where’s your Nike order? Probably jogging to your house—takes breaks
            every mile for hydration and self-reflection. Or it's chilling in a
            warehouse, dreaming of freedom. Don’t worry, it’ll show up right
            after you finally give up and go barefoot to brunch.
          </p>
        </details>
      </li>
      <li class="questions__item">
        <details class="questions__details">
          <summary class="questions__summary">
            <h3 class="questions__headline">
              How do I find the right size and fit?
            </h3>
            <svg class="questions__icon">
              <use class="questions__use" href="/icons/sprite.svg#plus"></use>
            </svg>
          </summary>
          <p class="questions__text">
            How do you find the right size and fit? Easy—consult Nike’s size
            chart, sacrifice a sock to the sneaker gods, and pray. Or just try
            three sizes, return two, and keep the one that insults your toes the
            least. Precision, baby. Science-ish.
          </p>
        </details>
      </li>
    </ul>
  </div>
</section>
