<section class="help">
  <div class="help__container container">
    <h2 class="help__title">Need help?</h2>
    <form class="help__form" action="#" method="post">
      <label class="help__label"
        >Name
        <input
          class="help__input"
          type="text"
          name="name"
          placeholder="Enter name"
          required
        />
      </label>
      <label class="help__label"
        >Number
        <input
          class="help__input"
          type="tel"
          name="phone"
          placeholder="Enter number"
          required
        />
      </label>
      <label class="help__label"
        >Email
        <input
          class="help__input"
          type="email"
          name="email"
          placeholder="Enter email"
          required
        />
      </label>
      <label class="help__label"
        >Message
        <textarea
          class="help__textarea"
          name="message"
          placeholder="Enter your message"
          rows="5"
          required
        ></textarea>
      </label>
      <button class="help__button button" type="submit">Submit</button>
    </form>
  </div>
</section>
