<div class="footer container">
  <div class="footer__wrapper">
    <div class="footer__inner">
      <details class="footer__details">
        <summary class="footer__summary">
          <span class="footer__title">Resources</span>
          <svg class="footer__icon">
            <use class="footer__use" href="/icons/sprite.svg#arrow-down"></use>
          </svg>
        </summary>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">Find a Store</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Nike Journal</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Become a Member</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Feedback</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Promo Codes</a>
          </li>
        </ul>
      </details>
    </div>
    <div class="footer__inner">
      <details class="footer__details">
        <summary class="footer__summary">
          <span class="footer__title">Help</span>
          <svg class="footer__icon">
            <use class="footer__use" href="/icons/sprite.svg#arrow-down"></use>
          </svg>
        </summary>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">Get Help</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Order Status</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Shipping and Delivery</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Returns</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Payment Options</a>
          </li>
        </ul>
      </details>
    </div>
    <div class="footer__inner">
      <details class="footer__details">
        <summary class="footer__summary">
          <span class="footer__title">Company</span>
          <svg class="footer__icon">
            <use class="footer__use" href="/icons/sprite.svg#arrow-down"></use>
          </svg>
        </summary>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">About Nike</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">News</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Careers</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Investors</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Sustainability</a>
          </li>
        </ul>
      </details>
    </div>
    <div class="footer__inner">
      <details class="footer__details">
        <summary class="footer__summary">
          <span class="footer__title">Menu</span>
          <svg class="footer__icon">
            <use class="footer__use" href="/icons/sprite.svg#arrow-down"></use>
          </svg>
        </summary>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">New & Featured</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Men</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Women</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Kids</a>
          </li>
        </ul>
      </details>
    </div>
  </div>
  <div class="footer__wrap">
    <small class="footer__legal"
      >© <span class="js-year"></span> Stellar Soft</small
    >
    <span class="footer__legal">Terms of Use</span>
    <span class="footer__legal">Privacy & Cookie Policy</span>
    <span class="footer__legal">Privacy & Cookie Setting</span>
  </div>
</div>
